//fonts.scss

$font_0: Socicon;

//urls
$url_0: url(fonts/Socicon.eot);
$url_1: url(fonts/Socicon.eot#iefix);
$url_2: url(fonts/Socicon.woff2);
$url_3: url(fonts/Socicon.ttf);
$url_4: url(fonts/Socicon.woff);
$url_5: url(fonts/Socicon.svg#Socicon);

@font-face {
	font-family: $font_0;
	src: $url_0;
	src: $url_1 format('embedded-opentype'), $url_2 format('woff2'), $url_3 format('truetype'), $url_4 format('woff'), $url_5 format('svg');
	font-weight: normal;
	font-style: normal;
}

.socicon-twitter:before {
	content: "\e08d";
}
.socicon-linkedin:before {
	content: "\e04c";
}
